<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Yoga<span>Djaya</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login">
		</div>
